.side-bar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 70px;
    z-index: 200;
}
.side-bar-link {
    height: 60px;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    justify-content: space-between;
    padding-top: 15px;
}
.side-bar-link:hover {
    background-color: rgba(212, 212, 212, 0.708);
}
.side-bar-img {
    height: 22px;
}
.side-bar-text {
    font-family: Roboto,Arial;
    align-items: center;
    text-align: center;
    font-size: 10px;
}